---
  - name: install-packages-and-config-auth
    yum:
      name:
        - wget 
        - git 
        - net-tools 
        - bind-utils 
        - iptables-services
        - bridge-utils 
        - bash-completion 
        - kexec-tools 
        - sos 
        - psacct
        - screen
        - httpd-tools
        - yum-utils
        - epel-release
        - sshpass
        - pyOpenSSL
      state: present
      update_cache: yes
    ignore_errors: yes
